node_modules
temp
.tmp
dist
.sass-cache
app/bower_components
test/bower_components
package
app/scripts
app/styles

.DS_Store
.editorconfig
.gitattributes
.idea/
.yo-rc.json
dist.crx
dist.pem
example.zip
test/.idea/
