@import "globals";

.auto-apply {
  width: 60% !important;
}

#auto-apply {
  border: 1px solid $color-dark-gray;
  position: absolute;
  width: 30%;
  top: 0;
  right: 0;
  padding: 15px;
}

.suggestion {
  display: inline-block;
  padding: .5rem 1.5rem;
  border: 1px solid $color-dark-gray;
  margin-left: 1.5rem;
  border-radius: 1rem;

  .fill-in-btn {
    width: 8rem;
    font-size: 1rem;
    padding: 1rem;
    display: block;
    height: 4rem;
  }

  .suggestion-select {
    height: 3rem;
    width: 12rem;
    font-size: 1.8rem;
    background-color: white;
    color: #666;
    margin-top: 1.5rem;
  }
}

.edit-suggestion {
  font-size: 2.2rem;
  color: $color-dark-gray;
  margin-left: 1rem;
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: inline-block;
}
.icon-cross {
  position: absolute;
  top: 0;
  right: -.8rem;
  cursor: pointer;
  font-size: 1.2rem;
}

//Change me
.content {
  /* Form styles taken from CfA styleguide */

  input,
  select {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    margin: 0 8px 2px 0;
    min-height: 39px;
    padding: 0 10px;
    vertical-align: middle;
  }

  label {
    color: #6d6e71;
    display: block;
    font-size: 0.8em;
    line-height: 1.25rem;
    line-height: 20px;
    margin-bottom: 0;
    margin-right: 0.5em;
    text-transform: uppercase;
    vertical-align: middle;
  }

  textarea:focus,
  input:focus {
    border-color: #004b6a;
    outline: 0;
  }

  input.invalid {
    border: 1px solid #cf1b41;
  }

  input[type="text"][disabled] {
    background: #f1f1f1;
  }
}
