@import "globals";

body {
  padding: .5rem 2rem;
}

.hidden {
  display: none;
}

.spinner {
  display: none;
  width: 100%;
}

/* popup.html styles */
#popup {
  width: 18rem;
  height: 15rem;

  h1 {
    color: $color-dark-blue;
    font-size: 1.8rem;
    text-align: center;
  }

  .btn-group {
    text-align: center;
  }

  .logged-in,
  .login-input {
    display: none;
  }

  .login-input {
    input {
      width: 18.9rem;
    }
    button {
      width: 100%;
    }
  }

  .message {
    font-size: 1.6rem;
    margin: 1rem 0;
    font-weight: normal;
    text-align: center;
    color: $color-dark-gray;
  }
}

